<html>
    <head>      
		  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		  <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.css')}}"  media="screen,projection"/>
		  <link rel="stylesheet" href="{{url_for('static',filename='css/material.min.css')}}">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		  <script type="text/javascript" src="{{url_for('static',filename='JQuery/jquery.js')}}"></script>
	<style>				
			.demo-layout-transparent .mdl-layout__header,.demo-layout-transparent .mdl-layout__drawer-button 
				{
					/* This background is dark, so we set text to white. Use 87% black instead if
					your background is light. */
					color: white;
				}
			#title1
				{
					font-size:25px;
				}
				.mdl-navigation__link
				{
					 color:#000000;
					 text-decoration:middle;
					 font-size:18px;
					 line-height:10px;
					 letter-spacing:0;
					 padding-bottom:
					 padding-top:10px;
				}
				 
			
			body 
				{
					display: flex;
					min-height: 100vh;
					flex-direction: column;
				}
			main 
				{
					flex: 1 0 auto;
				}
			
			
			.mdl-mega-footer
				{
					background-color:#880e4f;
				}
				
	</style>		
    <script>
	
		$(document).ready(function()
			{
			
			$(".dropdown-trigger").dropdown();
			
			});
			
			
		
		 $(document).ready(function()
			{
			
			$('input#input_text, textarea#textarea2,textarea#textarea1').characterCounter();
			
			});
			
    </script>
	</head>
	<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <!-- Uses a transparent header that draws on top of the layout's background -->
		<div class="demo-layout-transparent mdl-layout mdl-js-layout"></div>
<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--pink-900"> 
          
          <div class="mdl-layout__header-row mdl-layout--small-screen-only"> 
              <span class="mdl-layout-title">Universal Font Converter</span> 
          </div> 
		  <div class="mdl-layout__header-row mdl-layout--small-screen-only">
          <div class="mdl-layout__header-row"> 
              <span class="mdl-layout-title">
			  <ul id="dropdown1" class="dropdown-content">
				<li><a href="{{url_for('wintouni')}}">Win to Uni</a></li>
				<li><a href="{{url_for('unitowin')}}">Uni to Win</a></li>
				<li><a href="{{url_for('unitozawgyi')}}">Uni to Zawgyi</a></li>
				<li><a href="{{url_for('zawgyitouni')}}">Zawgyi to Uni</a></li>
				<li><a href="{{url_for('wintozawgyi')}}">Win to Zawgyi</a></li>
				<li><a href="{{url_for('zawgyitowin')}}">Zawgyi to Win</a></li>	
		   </ul>
		   <div class="mdl-layout--large-screen-only mdl-layout__header-row">
				
							<a class="mdl-navigation__link" href="{{url_for('home')}}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="dropdown-trigger mdl-navigation__link" href="#!" data-target="dropdown1">&nbsp;&nbsp;&nbsp; 
							Unicode to Win &nbsp;&nbsp;&nbsp;</a></li>	
						
				</div>
			</span> 
         </div> 
		 </div>
      </header> 
			<main class="mdl-layout__content">
				<div class="page-content"><!-- Your content goes here -->

					<img src="{{url_for('static',filename='images/cumdy1.jpg')}}" width="100%" height="400px">	
					
					<footer class="mdl-mega-footer">
						<div class="mdl-mega-footer--middle-section">
							<div class="mdl-mega-footer--drop-down-section">
								<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
									<h1 class="mdl-mega-footer--heading">Features</h1>
									<ul class="mdl-mega-footer--link-list">
										<li><a href="about.html">About</a></li>
										<li><a href="terms.html">Terms</a></li>
										<li><a href="{{url_for('partners')}}">Partners</a></li>
										<li><a href="updates.html">Updates</a></li>
									</ul>
							</div>
							<div class="mdl-mega-footer--drop-down-section">
								<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
									<h1 class="mdl-mega-footer--heading">Details</h1>
									<ul class="mdl-mega-footer--link-list">
										<li><a href="spec.html">Spec</a></li>
										<li><a href="tools.html">Tools</a></li>
										<li><a href="resource.html">Resources</a></li>
									</ul>
							</div>
							<div class="mdl-mega-footer--drop-down-section">
								<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
									<h1 class="mdl-mega-footer--heading">Technology</h1>
									<ul class="mdl-mega-footer--link-list">
										<li><a href="{{url_for('howitwork')}}">How it works</a></li>
										<li><a href="patterns.html">Patterns</a></li>
										<li><a href="usage.html">Usage</a></li>
										<li><a href="product.html">Products</a></li>
										<li><a href="contract.html">Contracts</a></li>
									</ul>
							</div>
							<div class="mdl-mega-footer--drop-down-section">
								<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
									<h1 class="mdl-mega-footer--heading">FAQ</h1>
									<ul class="mdl-mega-footer--link-list">
										<li><a href="questions.html">Questions</a></li>
										<li><a href="answer.html">Answers</a></li>
										<li><a href="contact.html">Contact us</a></li>
								</ul>
							</div>
						</div>
						<div class="footer-copyright">
							<div class="container">
								@ 2018 CUMDY Interns
								<a class="grey-text text-lighten-4 right">Goe-Hope Team</a>
							</div>
						</div>
			</footer>
		</div>
	</main>
	<script src="{{url_for('static',filename='js/material.min.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.js')}}"></script>
	</body>
</html>
